<td-layout-nav class="cyan-mono">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span><a [routerLink]="['/templates']"><md-icon class="md-icon-logo"><img src="assets/icons/payable.png" width="100" height="28"></md-icon></a></span>
    <span hide-xs> </span>
    <span flex ></span>
    <nav md-tab-nav-bar style="border-bottom:0px">
      <a md-tab-link
        [routerLink]="['/templates']"
        class="active">
        Home
      </a>
      <a md-tab-link
        [routerLink]="['/templates/service']">
        Services
      </a>
      <a md-tab-link
        [routerLink]="['/templates/email']">
        Company
      </a>
      <a md-tab-link
        [routerLink]="['/templates/editor']">
        Support
      </a>
    </nav>
    <span hide-xs> </span>
    <span flex ></span>
    <a md-icon-button mdTooltip="Sign In/Sign Up" [routerLink]="['/login']"><md-icon class="tc-cyan-500" svgIcon="assets:github"></md-icon></a>
  </div>
  <section class="bgc-blue-50">
    <!-- List Products Using Cards -->
    <div layout="row" layout-align="start center" class="bgc-grey-50 tc-cyan-500 pad-left-sm pad-right-sm">
      <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span class="md-title">Services</span>
      </span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
      </td-search-box>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-align="center center" class="pad-left-sm pad-right-sm" layout-wrap>
      <div *ngFor="let service of services" layout-margin layout-padding>
        <md-card>
          <md-card-header>
              <md-card-title class="tc-cyan-500">{{service.name}}</md-card-title>
          </md-card-header>
          <img md-card-image src="{{service.imgsrc}}">
          <md-card-content>
            <p class="md-body-1">{{service.description}}</p>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions>
            <button md-button color="accent" class="text-upper" (click)="openConfirm(service)">Pay Now</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </section>
  
  <section class="bgc-blue-grey-800 tc-blue-grey-100">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div flex layout="row" flex-gt-xs="75" layout-align="center center">
        <p class="text-sm">&copy; Copyright 2017 &lt;tayo-madein&#x2F;&gt;. All rights reserved.</p>
      </div>
    </div>  
  </section>
</td-layout-nav>