:host /deep/ {
    md-divider {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
    }

    @mixin center {
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .grad1 {
        background: #00bbd3; /* For browsers that do not support gradients */    
        background: -webkit-radial-gradient(white, #00bbd3); /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(white, #00bbd3); /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(white, #00bbd3); /* For Firefox 3.6 to 15 */
        background: radial-gradient(white, #00bbd3); /* Standard syntax (must be last) */
    }

    md-tab-group{
        position: absolute;
        @include center;
    }

    md-tab-group md-card {
        border-radius: 1em;
        padding: 1em;
        //display: inline-flex;
        //position: inherit;
        //@include center;
    }
}